<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Users</title>
</head>

<body>
  <a href="/">메인 페이지로</a>

  <ul>
    <% if (users.length) { %> <% users.forEach(user => { %>
    <li>
      <div>ID: <%= user.id %></div>
      <div>PW: <%= user.password %></div>
    </li>
    <% }) %> <% } %>
  </ul>
</body>

</html>